config.alloy: |
  logging {
    level  = "info"
    format = "logfmt"
  }

  discovery.kubernetes "pods" {
    role = "pod"
  }

  discovery.kubernetes "nodes" {
    role = "node"
  }

  discovery.kubernetes "services" {
    role = "service"
  }

  discovery.kubernetes "endpoints" {
    role = "endpoints"
  }

  discovery.kubernetes "endpointslices" {
    role = "endpointslice"
  }

  discovery.kubernetes "ingresses" {
    role = "ingress"
  }
  otelcol.receiver.otlp "traces"{
    grpc {
      endpoint = "0.0.0.0:4317"
    }
    http {
      endpoint = "0.0.0.0:4318"
    }
    output {
      traces = [otelcol.exporter.otlp.tempo.input]
    }
  }

  otelcol.exporter.otlp "tempo" {
    endpoint = http://tempo.obs.svc.local.cluster:4318
  }
